.chatFullscreenContainer{
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0;
  top: 0;
}
.chatsHeader.fullscreen{
  box-shadow: 5px 4px 10px rgba(238, 238, 238, 0.5);
}
.chatBotWrapperFullscreen{
  height: calc(100vh);
}
.chatsFullScreen{
  height: 100%;
}
.paymentFormContainerFullScreen{

  display: none;
}
.paymentFormContainerFullScreen.open-payment{
  display: flex;
}

.chatTabsFullScreen{
  display: flex;
 background-color: white;
color: black;
align-items: center;
justify-content: center;
padding-top: 20px;
gap: 40px;
 
  
  /* justify-content: space-between; */
}
.chatbotTabFullScreen{
  padding: 10px 20px;
  border-radius: 10px;
cursor: pointer;



}
.chatbotTabFullScreen.selected{
   background-color: var(--red);
  color: white;
}
.messageTabFullScreen{
   padding: 10px 20px;
  border-radius: 10px;
cursor: pointer;


}
.messageTabFullScreen.selected{
   background-color: var(--red);
  color: white;
}

.chatFullScreenScroll{
  width: 510px;
  display: flex;
  align-items: center;
  &:hover{
    .leftArrBtn{
      visibility: visible;
    }
  }
}
.chatProductsFullscreen{
  margin: 10px auto;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.product img {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 200px;
  height: 200px;
}
