.chatBotContainer{
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}
.buttonInvisible{
  visibility: hidden;
}

.chats{
  border-radius: 10px;
  background-color: rgb(229, 225, 225);
  box-shadow: -4px -5px 13px rgba(0, 0, 0, 0.1);
  height: 80vh;
  width: 22vw;
  /* display: none; */
  /* animation: openChat 0.25s alternate; */
  position: relative;
}
@media screen and (max-width:1189px){
  .chats{  
    width: 30vw;
  }  
}
@media screen and (max-width:899px){
  .chats{  
    width: 37vw;
  } 
}
@media screen and (max-width:702px){
  .chats{  
    width: 44vw;
  } 
}
@media screen and (max-width:602px){
  .chats{  
    width: 51vw;
  } 
}
@media screen and (max-width:507px){
  .chats{  
    width: 58vw;
  } 
}
@media screen and (max-width:457px){
  .chats{  
    width: 65vw;
  } 
}
@media screen and (max-width:402px){
  .chats{  
    width: 90vw;
  } 
}
.chats.chat-expand{  
  width: 90%;
  height: calc(100vh -100px);
  margin: 20px auto;
  animation: openChat 0.25s alternate;
}

.chatsHeader{
  background-color: white;
  height: 40px;
  padding: 0px 10px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 5px;
}
.chatsHeader.header-open{
  display: flex;
}
.chatHeaderImg{
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;

}
.chatHeaderLogo{
  display: flex;
  align-items: center;
}
.chatHeaderTitle{
  color: var(--red);
  font-weight: 700;
  margin-left: 5px;
}
.chatImgDiv{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--orange);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer; 
}
.chatImg{
  width: 30px;
}
.chatTabs{
  display: flex;
 background-color: white;
color: black;
 
  
  /* justify-content: space-between; */
}
.chatbotTab{
flex:1;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
 padding-top: 10px;
  padding-bottom: 7px;

}
.chatbotTab.selected{
   background-color: var(--red);
  color: white;
}
.messageTab{
   padding-top: 10px;
  padding-bottom: 7px;
flex:1;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;


}
.messageTab.selected{
   background-color: var(--red);
  color: white;
}
.registerDiv{
  padding: 20px;
}




/* all chats */
.allChatsDiv{
  overflow-y: scroll;
   height: calc(100% - 70px);

}
.allChats{
 
  width: 100%;
  /* overflow-y: scroll; */
  margin-bottom: 50px;
  overflow-x: hidden;
}
.allChatsWrapper{
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat{
  border: 1px solid var(--lightGray);
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  width: 200px;
  margin: 15px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* height: 50px; */
}

.chatTitle{
  font-size: 16px;
  font-weight: 500;
}
.chatOptions{
  display: flex;
  flex-direction: column;
  gap:5px;
  margin: 20px;
}
.chatOption{
  background-color: white;
  outline: none;
  border: 1px solid var(--lightGray);
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: var(--lightGray);
  cursor: pointer;
  &:hover{
    background-color:var(--yellow);
  } 
}
.messageBackBtn{
  background-color: white;
  border: none;
  outline: none;
  margin: 10px 0px;
  cursor: pointer;
  position: fixed;
  padding: 10px;
  border-radius: 50%;
}
.messageBackIcon{
  height: 20px;
  width: 30px;
}

.nomessages{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.loginIndicators{
  height: calc(100% - 50px);
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.oopsIndicator{
  text-align: center;
}
.loginIndicator{
  text-align: center;
  margin-top: 30px;
  color: red;
  text-decoration: underline;
  margin-bottom: 10px;

}
.chatBotLoginLink{
  display: flex;
  flex-direction: column;

}
.chatbotLoginBtn{
  background-color: white;
  outline: none;
  border: 1px solid var(--lightGray);
  font-weight: 600;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
  &:hover{
    background-color: var(--red);
    color: white;
    cursor: pointer;
  }
}


/*product styling */

.chatProducts{
  margin: 10px auto;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productName{
  background-color: var(--yellow);
  width: 100%;
  text-align: center;
}
.productPrice, 
.productName{
   background-color: var(--yellow);
  width: 100%;
  text-align: center;
  padding: 5px 0px;

 
}
.purchaseNow{
 background-color: var(--red);
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  font-size: 15px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.image-carousel {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 248px;
  overflow: hidden;
}

.image-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth; 
  &::-webkit-scrollbar{
  width: 0;
}
}
/* ::-webkit-scrollbar{
  width: 0;
} */

.leftArrBtn, .rightArrBtn{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer; 
}


.productImg {
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.rightArrBtn.invisible{
  visibility: hidden;
}


/* payment form styling */

.paymentFormContainer{
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  bottom: -110%;
  text-align: center;
  /* border-radius: 10px; */
  overflow: hidden;
  transition:all bottom 4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentWrapper{
  background-color: var(--lightGray);
}
.paymentFormContainer.open-payment{
  bottom:10px;
  background-color: rgba(0,0,0,0.5);

}
.paymentHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: yellow;
}
.closePayment{
  width: 20px;
  height: 20px;
  padding: 5px;
}
.paymentHeader h2{
  /* margin-bottom: 10px; */
}
.paymentHeader button{
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}
.paymentForm{
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}
.paymentForm input{
  background-color:white ;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
}
.paymentForm button{
  background-color: var(--yellow);
  font-weight: 700;
  outline: none;
  border: none;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.form-open{
  background-color: rgba(0,0,0,0.7);
}
/* .chat-invisible{
  background-color: rgba(0,0,0,0.7);
}
.option-invisible{
  background-color: rgba(0,0,0,0.7);

} */
.chatBotWrapper{
  position: relative;
}




.paymentSuccessfull{
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  bottom: -1000%;
  text-align: center;
  /* border-radius: 10px; */
  overflow: hidden;
  transition:all bottom 4s;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.paymentSuccessfull.add-loader{
  background-color: rgba(0,0,0,0.5);
  bottom:0px;

}




/*chats footer */

.chatsFooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  height: 50px;
  border-bottom: 1px solid var(--lightGray);
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0px;
  background-color: white;
  z-index: 10;
}
.typeMessage{
  border: none;
  outline: none;
  display: flex;
  flex: 1;
  padding: 8px 20px;
  background-color: var(--lightGray);
  border-radius: 5px;
  margin-right: 20px;
}
.sendButtons{
  display: flex;
  align-items: center;
}
.sendButtons img{
  margin-right: 5px;
  width: 20px;
}

.selfGenetrated{
  /* position: absolute; */
  background-color: var(--yellow);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 50px;
}


.selfGenetratedLoading{
  /* background-color: #ffff00; */
  /* height: 20px; */
  /* width: 60px; */
  /* margin: 20px; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-success{
  width: 100%;
  height: 200px;
}
.paymentWrapperfullScreen{
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paymentSuccessContainer{
  width: 250px;
  height: 200px;

}
.paymentHeader h4{
  padding: 10px;
}
.loader{
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reactloading{
    padding: 0;
    height: 20px;
    display: flex;
    margin: 0;
}

.asktheagentbtn{
  font-size: 15px;
  text-decoration: underline;
  font-weight: 500;
  padding: 5px 0px;
}
