:root{
  --lightGray:#e1e1e1;
  --purpleTheme:#B200ED;
  --red:#ee0007;
  --orange:#ff5100;
  --yellow:rgb(255, 208, 0);
}
body {
  font-family: 'Roboto', sans-serif;
  color: #1b1b20;
  /* background-color: black; */
}
*{
  padding: 0;
  margin: 0;
  outline: none;
}
.modal-open {
  overflow: hidden;
}
@media screen and (max-width:1306px) {
  .sectionPart1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .sectionPart2{
    display: flex;
    flex-direction: column;
  }
  .section13Contents{
    display: flex;
    flex-direction: column;
  }
  .mainSectionSecondPart{
   width: 375px;
  }
  .mainSection7Title{
    /* font-size: 12px; */
  }
  .signinInput2{
    width: 375px;
  }
  .section10 img{
    width: 375px;
  }
  .section6Wrapper{
    width:375px;
  }
  .mainSectionRightImg{
    width: 200px;
    height: 200px;
}
.mainSectionLeft{
  
}
  
}